.Navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    background: #484747;
}
ul{
    flex: 1;
    list-style: none;
    text-align: center;
}
ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 26px;
    cursor: pointer;
    font-family:cursive;
}

.Navbar li:hover {
    background-color: rgba(255, 255, 255, 0.379);
}

